@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.header{
    background-color: rgba(255, 144, 14, 0.10);;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0px auto;
    align-items: center;
}
.brand{
    color: var(--Dark-01, #131313);
text-align: center;
font-family: "Work Sans";
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.nav-links{
    display: flex;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    color: var(--Dark-02, #424242);
text-align: center;
font-family: "Work Sans";
font-size: 18px;
font-style: normal;
font-weight: 500;
    
}
.banner{
    align-items: center;
    
    max-width: 1440px;
    margin: 0px auto;
}

.banner-tittle{
    color: var(--Dark-01, #131313);

     font-size: 64px;

 font-weight: 700;
}
.banner-content{
    
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    
}
.banner-description{
    color: var(--Dark-03, #727272);
text-align: center;
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;

}
.btn-primary{
    color: #FFF;
text-align: center;
font-family: "Work Sans";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding: 20px 25px;
background-color:#FF900E;
 border-radius: 8px;
 margin-bottom: 50px;

}
.banner-image{
    width: 100%;
}
 
    
@media screen and (max-width:576px){
    .nav-bar,.nav-links{
       flex-direction: column;
    }
}